<div class="blog-post-lists col-md-9 col-lg-9 col-xl-9 col-sm-12 col-xs-12">
    <% page.posts.each(function (post) { %>
        <div class="blog-post">
            <h1><a href="<%- url_for(post.path) %>"><%= post.title %></a></h1>
            <div class="blog-post-desc">
                <p><%- post.excerpt %></p>
                <p>
                    <a href="<%- url_for(post.path) %>" class="more-link">继续阅读 »</a>&nbsp;&nbsp;
                    <span><%- date(post.date, "YYYY-MM-DD") %></span>&nbsp;&nbsp;
                </p>
            </div>
        </div>
    <% }) %>
    
    <% page.total %>
    <% if (page.total > 1) { %>
        <div class="page-nav">
            <%- paginator({
                prev_text: "上一页",
                next_text: "下一页"
            }) %>
        </div>
    <% } %>
</div>