<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><% if( page.title ){ %><%= page.title %>-<% } %><%= config.title %></title>
    <% if( theme.baidu_verification ) { %><meta name="baidu-site-verification" content="<%= theme.baidu_verification %>" /><% } %>
    <% if( page.keywords ){ %><meta name="keywords" content="<%= page.keywords %>"><% }else{ %><meta name="keywords" content="<%= config.keywords %>"><% } %>
    <% if( page.description ){ %><meta name="description" content="<%= page.description %>"><% }else{ %><meta name="description" content="<%= config.description %>"><% } %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
    <link rel="stylesheet" href="<%- url_for('css/main.css') %>" />
</head>
<body>
    <nav class="navbar blog-header navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="<%- url_for() %>"><%= config.title %></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="菜单">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% for (name in theme.menu) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%- url_for(theme.menu[name]) %>"><%= name %></a>
                    </li>
                <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container blog-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9">
                <%- body %>
            </div>
            <div class="blog-side col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                <div class="blog-profile">
                    <%- partial('_partial/profile') -%>
                </div>
                <div class="blog-google-ads">
                    <%- partial('_partial/google') -%>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid blog-footer">
        <div class="container">
            <div class="row blog-friend-link">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h3>友情链接</h3>
                </div>
                
                <% if( theme.friend_links ) {
                    for (name in theme.friend_links) { %>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <a target="_blank" href="<%= theme.friend_links[name] %>"><%= name %></a>
                </div>
                <%  }
                } %>
            </div>
            <div class="row">
                <div class="blog-copyright">
                    <p>&copy; 2020 - 2021 All rights reserved. <%= config.title %> <% if( theme.beian.enable ){ %> - <a href="<%= theme.beian.icp_link %>" target="_blank"><%= theme.beian.icp %></a><% } %></p>
                </div>    
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
